.cproject
.project
.settings/
main
vp/build/
vp/dependencies/systemc-dist/
*.bin
systemc-*
*.asm
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
nbbuild/
dist/
nbdist/
.nb-gradle/
nbproject/
sw/basic-gcov/main.gcda
sw/basic-gcov/main.gcno
sw/**/*.o
sw/**/main
.vscode/
.idea/


vp/tests/Makefile
vp/tests/CMakeFiles
vp/tests/CMakeCache.txt
vp/tests/libgdb/build/
vp/tests/libgdb/libptest.a
vp/tests/libgdb/libgdb-tests
vp/tests/libgdb/*.cmake
vp/tests/libgdb/Makefile

vp/tests/gdb/connect-and-quit/connect-and-quit
vp/tests/gdb/hit-breakpoint/hit-breakpoint
vp/tests/gdb/mc-info-threads/mc-info-threads
vp/tests/gdb/mc-wfi-thread/mc-wfi-thread
vp/tests/gdb/read-memory/read-memory
vp/tests/gdb/read-registers/read-registers
vp/tests/gdb/remove-breakpoint/remove-breakpoint
vp/tests/gdb/write-memory/write-memory
vp/tests/gdb/single-step/single-step
vp/tests/gdb/mc-dead-thread/mc-dead-thread
vp/tests/gdb/*.cmake
vp/tests/gdb/*/*.cmake

vp/tests/integration/basic-c/basic-c
vp/tests/integration/basic-asm/basic-asm
vp/tests/integration/printf/printf
vp/tests/integration/basic-c++/basic-c++
vp/tests/integration/sys-read/sys-read
vp/tests/integration/mc-basic/mc-basic
vp/tests/integration/*.cmake
vp/tests/integration/*/*.cmake

vp/tests/*/CMakeCache.txt
vp/tests/*/*/main