[submodule "vp/src/core/common/gdb-mc/parser/mpc"]
	path = vp/src/core/common/gdb-mc/libgdb/mpc
	url = https://github.com/orangeduck/mpc
[submodule "tests/integration"]
	path = vp/tests
	url = https://github.com/agra-uni-bremen/vp-integration-tests.git
[submodule "vp/src/platform/hwitl/virtual-bus"]
	path = vp/src/platform/hwitl/virtual-bus
	url = https://github.com/agra-uni-bremen/virtual-bus
[submodule "vp/src/platform/hifive/vbb-protocol"]
	path = vp/src/platform/hifive/vbb-protocol
	url = https://github.com/agra-uni-bremen/virtual-breadboard-protocol.git
[submodule "vp/src/vendor/systemc"]
	path = vp/src/vendor/systemc
	url = https://github.com/accellera-official/systemc.git
