Makefile
CMakeFiles
CMakeCache.txt

libgdb/build/
libgdb/libptest.a
libgdb/libgdb-tests
libgdb/*.cmake

gdb/connect-and-quit/connect-and-quit
gdb/hit-breakpoint/hit-breakpoint
gdb/mc-info-threads/mc-info-threads
gdb/mc-wfi-thread/mc-wfi-thread
gdb/read-memory/read-memory
gdb/read-registers/read-registers
gdb/remove-breakpoint/remove-breakpoint
gdb/write-memory/write-memory
gdb/single-step/single-step
gdb/mc-dead-thread/mc-dead-thread
gdb/*.cmake
gdb/*/*.cmake
gdb/debug_output.txt

integration/basic-c/basic-c
integration/basic-asm/basic-asm
integration/printf/printf
integration/basic-c++/basic-c++
integration/sys-read/sys-read
integration/mc-basic/mc-basic
integration/*.cmake
integration/*/*.cmake
